/*
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d4;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 295px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 39px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 288px;
    align-self: center;
    margin-top: 33px;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--soft-orange);
}

.header__button {
    position: absolute;
    bottom: -19px;
    left: calc(50% - 115px);
    width: 230px;
    height: 48px;
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--warm-black);
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    cursor: pointer;
}
.header__button span {
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-left: 14px;
    background: url("./assets/icons/down-arrow.svg") no-repeat center;
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.exchange-section {
    width: 100%;
    height: auto;
    padding: 60px 0;
    text-align: center;
}

.exchange-section__img {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    background: url("./assets/img/Bitcoin.svg") no-repeat center;
}

.exchange-section__description {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 40px auto 48px;
}

.exchange-section__description h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 24px;
    color: var(--warm-black);
}

.exchange-section__description p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.exchange-section__tables-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
}

.exchange-section__tables-container::-webkit-scrollbar {
    display: none;
}

.exchange-table {
    min-width: 100vw;
    height: auto;
    margin: 0 auto;
    text-align: left;
}

.exchange-table__title {
    width: 70%;
    max-width: 800px;
    padding-left: 12px;
    margin: 0 auto 12px;
    font-size: 1.8rem;
    font-weight: 700;
}

.exchange-table__title--currencies {
    color: var(--bitcoin-orange);
}

.exchange-table__title--commissions {
    color: var(--secondary-blue);
}

.exchange-table__table {
    position: relative;
    width: 70%;
    max-width: 800px;
    height: auto;
    margin: 0 auto 16px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #b5b0ac;
    background-color: var(--just-white);
    border-radius: 8px;
}

.exchange-table__table table {
    width: 100%;
    height: 100%;
}

.exchange-table__table td {
    width: 50%;
    padding: 12px;
}

.table--right {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: #757575;
}

.trending-indicator {
    margin-left: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

.trending-down {
    background: url("./assets/icons/trending-down.svg");
}

.trending-up {
    background: url("./assets/icons/trending-up.svg");
}

.exchange-table__date {
    width: fit-content;
    margin: 0 auto;
    padding: 8px;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    color: var(--black);
    border-radius: 8px;
}

.exchange-table__date--currencies {
    background-color: var(--soft-orange);
}

.exchange-table__date--commissions {
    background-color: var(--soft-blue);
}

.change-table {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("./assets/icons/right-arrow.svg") no-repeat center;
}

.change-table--next {
    top: calc(50% - 13px);
    right: -23px;
}

.change-table--previous {
    top: calc(50% - 13px);
    left: -23px;
    transform: rotate(180deg);
}

.product-details-section {
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 16px;
    height: auto;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    background-color: var(--warm-black);
}
.product-details__logo {
    position: absolute;
    left: calc(50% - 20px);
    top: -11px;
    display: block;
    width: 40px;
    height: 24px;
    background: url("./assets/img/logo-responsive.svg") no-repeat center center /
        cover;
}

.product-details__description {
    width: 100%;
    margin: 48px 0 32px 0;
    text-align: center;
}

.product-details__description h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 24px;
    color: var(--just-white);
}

.product-details__cards-container {
    width: 100%;
    min-width: 288px;
    margin-bottom: 14px;
}

.product-card {
    width: 100%;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    margin: 0 auto 16px;
    padding: 16px;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-card__icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

.clock-icon {
    background: url("./assets/icons/clock.svg") no-repeat center;
}

.eye-icon {
    background: url("./assets/icons/eye.svg") no-repeat center;
}

.dollar-icon {
    background: url("./assets/icons/dollar-sign.svg") no-repeat center;
}

.check-icon {
    background: url("./assets/icons/check-circle.svg") no-repeat center;
}

.product-card__title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-bottom: 10px;
    color: var(--just-white);
}

.bitcoin-img-section {
    width: 100%;
    min-width: 30px;
    height: 60vh;
    background: url("./assets/img/bitcoinbaby2x.jpg") no-repeat center/cover;
}

.bitcoin-img-section h2 {
    padding-top: 64px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
}

.plans-section {
    width: 100%;
    min-width: 320px;
    padding: 64px 0;
    text-align: center;
    color: #757575;
}

.plans-section__description {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto 50px;
    font-size: 1.4rem;
}

.plans-section__description h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.plans-section__description p {
    font-weight: 500;
    line-height: 1.8rem;
}

.plans-section__cards-container {
    height: 280px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding: 0 15%;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
}

.plans-section__cards-container::-webkit-scrollbar {
    display: none;
}

.plan-card {
    position: relative;
    width: 70%;
    min-width: 190px;
    max-width: 250px;
    height: 250px;
    margin: 0 10px;
    padding: 0 16px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plan-card__recommended {
    position: absolute;
    top: -15px;
    left: calc(50% - 50px);
    width: auto;
    height: auto;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
}

.plan-card__name {
    padding-top: 30px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
}

.plan-card__price {
    position: relative;
    width: fit-content;
    margin: 0 auto 16px;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 6.3rem;
    font-family: "Inter", sans-serif;
    color: #000;
}

.plan-card__price--inactive {
    color: var(--gray);
}

.plan-card__price::before {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 8px;
    left: -10px;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    content: "$";
}

.plan-card__price-details {
    margin-bottom: 16px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.plan-card__cta {
    width: 150px;
    height: 48px;
    padding: 10px 0;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--warm-black);
    background-color: var(--off-white);
}

.plan-card__cta::after {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    vertical-align: top;
    content: url("./assets/icons/orange-right-arrow.svg");
}

.plan-card__cta--inactive {
    border-color: var(--gray);
    color: var(--gray);
    background-color: var(--just-white);
}

.plan-card__cta--inactive::after {
    content: url("./assets/icons/gray-right-arrow.svg");
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.footer__left li {
    list-style: none;
    margin: 8px 0;
}

.footer__left a {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--just-white);
}

.footer__logo {
    width: 100px;
    height: 50px;
    background: url("./assets/img/logo-footer.svg") no-repeat center;
}
